# Arquivos de Build gerados pelo Android Studio
.gradle
/build
/captures
*.apk

# Arquivos do sistema operacional e IDE
.idea/
*.iml
.DS_Store

# Arquivos de segredos (NUNCA ENVIE ESTES ARQUIVOS!)
local.properties
app/google-services.json
